[core]
  excludesfile = ~/.gitignore
	autocrlf = false
  eol = lf

[status]
  showUntrackedFiles = no
#---------------------------------------------------------------
#---------------------- Windows - gitbash ----------------------
#---------------------------------------------------------------

[includeIf "gitdir:C:/develop/"] #inkludiert alle .git projekete in dem Ordner
    path = C:/Users/Markus/.gitconfig_privat

[includeIf "gitdir:C:/develop/space/"]
    path = C:/Users/Markus/.gitconfig_work

[includeIf "gitdir:C:/develop/gitlab/"]
    path = C:/Users/Markus/.gitconfig_work

[includeIf "gitdir:C:/develop/lab-gitlab/"]
    path = C:/Users/Markus/.gitconfig_work

[includeIf "gitdir:C:/develop/labspace/"]
    path = C:/Users/Markus/.gitconfig_work

[includeIf "gitdir:C:/Users/Markus/AppData/Roaming/Sublime Text/Packages/"]
    path = C:/Users/Markus/.gitconfig_privat

[includeIf "gitdir:C:/Users/Markus/OneDrive/"]
    path = C:/Users/Markus/.gitconfig_privat

[includeIf "gitdir:C:/develop/todo/"]
    path = C:/Users/Markus/.gitconfig_workgithub

[includeIf "gitdir:C:/develop/sirconic/"]
    path = C:/Users/Markus/.gitconfig_workgithub
 
[includeIf "gitdir:C:/Users/Markus/Documents/Godot/"]
    path = C:/Users/Markus/.gitconfig_privat


#---------------------------------------------------------------
#---------------------- WSL - gitbash ----------------------
#---------------------------------------------------------------

[includeIf "gitdir:%(prefix)//mnt/c/develop/"]
    path = ~/.gitconfig_privat

[includeIf "gitdir:%(prefix)//home/"]
	path = ~/.gitconfig_privat

[includeIf "gitdir:%(prefix)//mnt/c/develop/space/"]
    path = ~/.gitconfig_work

[includeIf "gitdir:%(prefix)//mnt/c/develop/gitlab/"]
    path = ~/.gitconfig_work

[includeIf "gitdir:%(prefix)//mnt/c/develop/labspace/"]
    path = ~/.gitconfig_work

[includeIf "gitdir:%(prefix)//mnt/c/develop/sirconic/"]
    path = ~/.gitconfig_workgithub

[includeIf "gitdir:%(prefix)//mnt/c/develop/todo/"]
    path = ~/.gitconfig_workgithub

[includeIf "gitdir:%(prefix)//mnt/c/develop/privat/"]
    path = ~/.gitconfig_privat

[includeIf "gitdir:%(prefix)//mnt/c/Users/Markus/"]
    path = ~/.gitconfig_privat

[includeIf "gitdir:%(prefix)//~/OneDrive/"]
    path = ~/.gitconfig_privat


#---------------------------------------------------------------
#-------------------------- Debugging --------------------------
#---------------------------------------------------------------
 
#git config -l --show-scope --show-origin
#git config user.email
#git config core.sshcommand
#sicherstellen dass immer ein / ganz hinten vom pfad ist..
#~/.gitconfig
#git remote set-url origin git@<repository.domain.com>:<username>/<repo_name>.git
[credential "https://git.sirconic-group.de"]
	provider = generic
